* {
    margin: 0;
    padding: 0;
}

.h1 {
    padding: 10px;
    margin: 10px;
    text-align: center;

}

.form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

label {
    margin: 0 5px 0 5px;
}

input[type="text"] {
    padding: 0.6rem .9rem;
    width: 15rem;
    box-sizing: border-box;
    margin: 5px 0 5px 0;
}

input[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 0.6rem .9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.6rem .9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#btn-remove {
    background-color: #e7e7e7;
    border: none;
    color: white;
    padding: 0.6rem .9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}